<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <nav>
  	<% if (username !== false)  { %>
	  	<a href="/posts">NewsFeed</a> | 
	  	<a href="/posts/new">NewPost</a> |
	  	<a href="/buildings/new">NewBuilding</a> |
	    <a href="/buildings/unit">NewUnit</a> |
	  	<a href="/users/community">MyCommunity</a> |
	  	<a href="/users">MyProfile</a> |
	  	<a href="/auth/logout">Logout</a>
	<% } else { %>
		<a href="/">Home</a> |
	  	<a href="/auth/register">Sign-Up</a> |
	  	<a href="/auth/login">Login</a> 
	<% } %>
  </nav>
</head>
<body>

	