<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <nav>
  	<a href="#">Home</a>
  	<a href="#">Login</a>
  	<a href="#">Sign-Up</a>
  	<a href="#">Feed</a>
  </nav>
</head>
<body>

	