<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  	<a href="/posts">NewsFeed</a> | 
  	<a href="/posts/new">NewPost</a> |
  	<a href="/buildings/new">NewBuilding</a> |
  	<a href="#">MyCommunity</a> |
  	<a href="#">MyProfile</a> |
  	<a href="/auth/logout">Logout</a>
  </nav>
</head>
<body>