<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <nav>
  	<a href="/posts">News Feed</a>
  	<a href="/posts/new">New Post</a>
  	<a href="#">Add a Building</a>
  	<a href="#">My Community</a>
  	<a href="#">My Profile</a>
  	<a href="/auth/logout">Logout</a>
  </nav>
</head>
<body>