<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <nav>
  	<a href="/posts">NewsFeed</a> | 
  	<a href="/posts/new">NewPost</a> |
  	<a href="/buildings/new">NewBuilding</a> |
    <a href="/buildings/unit">NewUnit</a> |
  	<a href="/users/community">MyCommunity</a> |
  	<a href="/users">MyProfile</a> |
  	<a href="/auth/logout">Logout</a>
  </nav>
</head>
<body>