<%- include('./partials/header.ejs') %>
<body>
	<h1>Welcome to Neighborlie</h1>
<div id="description-1">
<p class="description">

	<span class="app-name"> ~ Neighborlie</span> is a social media and property management app for hosts and their tenants to connect. <span class="app-name"> Neighbors </span> who share a building can broadcast to a shared feed and stay in tune with the goings on of their <span class="app-name">building community.</span> Sign up <span class="app-name">today!</span> 
</p>
</div>
<%- include('./partials/footer.ejs') %>