<%- include('./partials/header.ejs')%>
	<form method="POST" action="/auth/login">
		<fieldset>
			<legend>
				<small>
					login below 
				</small>
			</legend>
			<div>
				<label for="username">Username:</label>
				<input id="username" type="text" name="username" placeholder="Enter username">
			</div>
			<div>
				<label for="password">Password:</label>
				<input id="password" type="password" name="password" placeholder="Enter password">
			</div>
			<button>Login!</button>
		</fieldset>
	</form>
<%- include('./partials/footer.ejs')%>