<%- include('./partials/header.ejs')%>
	<form method="POST" action="/auth/register">
		<fieldset>
			<legend>
				<small>
					register below!
				</small>
			</legend>
			<div>
				<label for="firstName">First Name:</label>
				<input id="firstName" type="text" name="firstName" placeholder="Enter first name">
			</div>
			<div>
				<label for="lastName">Last Name:</label>
				<input id="lastName" type="text" name="lastName" placeholder="Enter last name">
			</div>
			<div>
				<label for="image">Picture of You:</label>
				<input id="image" type="text" name="image" placeholder="link to a pictue of you">
			</div>
			<div>
				<label for="aboutMe">About You:</label>
				<textarea id="aboutMe" type="text" name="aboutMe" placeholder="a little bit about you"></textarea>
			</div>
			<div>
				<label for="username">Username:</label>
				<input id="username" type="text" name="username" placeholder="Enter new username">
			</div>
			<div>
				<label for="password">Password:</label>
				<input id="password" type="password" name="password" placeholder="Enter new password">
			</div>
			<button>Sign up!</button>
		</fieldset>
	</form>
<%- include('./partials/footer.ejs')%>