
/*font-family: 'Sarina', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;*/


body {
	background-color: #39481f;
	color:#e4e4a1;
}
h1 {
	text-align: center;
}
/*home page div*/
#description-1{
	background-color: #e4e4a1;
	border-radius: 25px;
	padding: 5px;
	width: 50%;
	box-shadow: 10px 5px 5px #1d2410;
}

.description {
	color:  #39481f;
	font-size: 24px;
}

.bad {
	background-color: indianred;
	border: 2px solid firebrick;
	color: black;
}
.good {
	background-color: lightgreen;
	border: 2px solid green;
	color: black;
}
/*the form for new posts*/
#title{
	border-radius: 5px;
	padding: 5px;
	background-color:whitesmoke;
}
/*text area for new content:*/
#new-post{
	position: absolute;
	width:40%;
	height:50%;
	border-radius: 10px;
	border: 5px solid black;
	padding: 5px;
	background-color:whitesmoke;
}

#index-container{
	position: relative;
	color: red;
	background-color: #e4e4a1;
	border: 10px solid rgba(0, 0, 0, .2);
	border-radius: 10px 
	/*rgba(255, 255, 255, .2)*/
	padding: 5px;
	width: 40%;
	left: 30%;
	z-index: -1;
	float: flex;
}
.roomies{
	background-color: :#e4e4a1;
	width: 30%;
}

img{
	width: 30%;
	height: 300px;
}

a {
	color: black;
}
nav {
	background-color: #e4e4a1;
	color: #39481f;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	padding:9px;
	border: 1px solid #39481f;
	margin-bottom: 15px;
	z-index: 1;	
}
li {
	list-style: none;
}


.post {
	position: relative;
<<<<<<< HEAD
	color: red;
	background-color: #e4e4a1;
	border: 10px solid rgba(0, 0, 0, .2);
	border-radius: 10px 
=======
	border: 2px solid black;
	border-radius: 15px;
	background: #e4e4a1;
	width: 50%;
	padding: 15px;
	margin: 0 auto;
	color: black;
	margin-bottom: 10px;

>>>>>>> 52dc35d6c003cb2cb8ec370f8b81fbdb611f35cb
}

.creator {
	font-size: 18px;
	margin-bottom: 5px;
}

.title {
	font-size: 30px;
	text-decoration: underline;
}
.content {
<<<<<<< HEAD
	position: relative;
	color: red;
	background-color: #e4e4a1;
	border: 10px solid rgba(0, 0, 0, .2);
	border-radius: 10px 
=======
	background: #e4e4a1;
	border: 1px solid transparent;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 0px 0px 5px #1d2410;
>>>>>>> 52dc35d6c003cb2cb8ec370f8b81fbdb611f35cb
}

.address {
	text-align: center;
}

.logo {
	text-align: center;
	font-family: 'Sarina', cursive;
	font-size: 50px;
	border: 6px solid #e4e4a1;
	padding: 10px 0;
	margin: 15px;
}

.container {
	display: flex;
	justify-content: space-around;
	border: 2px solid #e4e4a1;
}

.prof {
	display: inline;

}

.userImg {
	border: 1px solid transparent;
	border-radius: 50%;
	width: 35px;
	height: 40px;
}

.name {
	position: absolute;
	top: 12px;
	left: 55px;
}

.containerTwo {
	border: 2px solid #e4e4a1;
	border-radius: 15px;
	background-color: #e4e4a1;
	height: 40px;
	box-shadow: 0px 0px 5px #1d2410;
}

.comment {
	box-shadow: 0px 0px 5px #1d2410;
	padding: 10px;
}

.add{
	margin-bottom: 10px;
}

button {
	background-color: #7F2608;
	color: #e4e4a1;
	padding: 10px;
	border-radius: 12px;
}

button:hover { 
	background-color: #671F06;
}

#description-1 {
	margin: 0 auto;
}

.contain {
	width: 100px;
}






