body {
	background-color: #39481f;
	color:#e4e4a1;
}
/*home page div*/
#description-1{
	background-color: #e4e4a1;
	border-radius: 25px;
	padding: 5px;
	width: 50%;
	box-shadow: 10px 5px 5px #1d2410;
}

.description {
	color:  #39481f;
	font-size: 24px;
}

.bad {
	background-color: indianred;
	border: 2px solid firebrick;
	color: firebrick;
}
/*the form for new posts*/
#title{
	border-radius: 5px;
	padding: 5px;
	background-color:whitesmoke;
}
/*text area for new content:*/
#new-post{
	position: absolute;
	width:40%;
	height:50%;
	border-radius: 10px;
	border: 5px solid black;
	padding: 5px;
	background-color:whitesmoke;
}

#index-container{
	position: relative;
	color: red;
	background-color: #e4e4a1;
	border: 10px solid rgba(0, 0, 0, .2);
	border-radius: 10px 
	/*rgba(255, 255, 255, .2)*/
	padding: 5px;
	width: 40%;
	left: 30%;
	z-index: -1;
	float: flex;
}

img{
	width: 30%;
	height: 300px;
}

nav {
	background-color: #e4e4a1;
	color: black;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	padding:9px;
	border: 1px solid #39481f;
	margin-bottom: 15px;
}

a {
	color: black;



