<%- include('../partials/header2.ejs')%>

	<h1>Add a New Building</h1>

	<form method="POST" action="/buildings">
		<fieldset>
			<label for="address">Address:</label>
			<input type="text" name="address" placeholder="enter building address">
			<label for="floors">Number of Floors:</label>
			<input type="text" name="floors" placeholder="enter number of floor">
		<button>Submit!</button>
		</fieldset>
	</form>
<%- include('../partials/footer.ejs')%>