<%- include('../partials/header2.ejs')%>

	<h1>Add a New Building</h1>

	<form>
		<fieldset>
			<label for="address">Address:</label>
			<input type="text" name="address" placeholder="enter building address">
		</fieldset>
	</form>

<%- include('../partials/footer.ejs')%>