<%- include('../partials/header.ejs')%>

	<h1>Add a New Building</h1>

<form method="POST" action="/buildings">
	<div class="new-building">	

			<label class="new-building-labels" for="address">Address:</label>
			<input type="text" name="address" placeholder="enter building address">
			<label class="new-building-labels" for="floors">Number of Floors:</label>
			<input type="text" name="floors" placeholder="enter number of floor">
		<button>Submit!</button>

	</div>
	</form>
<%- include('../partials/footer.ejs')%>