<%- include('../partials/header2.ejs')%>


<form method="POST" action="/posts/<%= post._id %>?_method=PUT">



 <fieldset>
      <label for="title">Post Title:</label>
      <input id="title" type="text" name="title" placeholder="New post title" value="<%= post.title %>" />
      <button>edit</button>
</fieldset>

<%- include('../partials/footer.ejs')%>
